
<div class="container justify-content-center mt-5">
  <h1>マイページ</h1>
    <h3>登録情報   <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success" %></h3>
    <p>氏名 : <%= @customer.last_name %> <%= @customer.first_name %></p>
    <p>カナ : <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></p>
    <p>郵便番号 : <%= @customer.postal_code %></p>
    <p>住所 : <%= @customer.address %></p>
    <p>電話番号 : <%= @customer.telephone_number %></p>
    <p>メールアドレス : <%= @customer.email %></p>

    <h3>注文履歴   <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></h3>
</div>