<div class="containar d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>管理者ログイン</h2>
    <div class="field">
      <%= f.label :メールアドレス, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :パスワード, class:"form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-primary mt-5" %>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
</div>
