<p><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</p>

<%= form_with model: @customer, url: admin_customer_path do |f| %>
  <p>会員ID <%= @customer.id %></p>
  <p>氏名 <%= f.text_field :last_name, autofocus: true, id:"inputLastName" %>
          <%= f.text_field :first_name, autofocus: true, id:"inputFirstName" %></p>
  <p>フリガナ <%= f.text_field :last_name_kana, autofocus: true, id:"inputLastNameKana" %>
              <%= f.text_field :first_name_kana, autofocus: true, id:"inputFirstNameKana" %></p>
  <p>郵便番号 <%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode" %></p>
  <p>住所 <%= f.text_field :address, autofocus: true, id:"inputAdress" %></p>
  <p>電話番号 <%= f.text_field :telephone_number, autofocus: true, id:"inputTelephoneNumber" %></p>
  <p>メールアドレス <%= f.text_field :email, autofocus: true, id:"inputEmail" %></p>
  <p>会員ステータス
  <div><%= f.radio_button :is_active, true, cheched:@customer.is_active == true, id: 'status-active' %>
       <%= f.label :is_active, '有効', for: 'status-active' %></div>
  <div><%= f.radio_button :is_active, false, cheched:@customer.is_active == false, id: 'status-deleted' %>
       <%= f.label :is_active, '退会済み', for: 'status-deleted' %></div>
  </p>

  <%= f.submit "変更を保存" %>
<% end %>