<div class="containar justify-content-center m-5">
    <p><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</p>

    <p>会員ID <%= @customer.id %></p>
    <p>氏名 <%= @customer.last_name %> <%= @customer.first_name %></p>
    <p>フリガナ <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></p>
    <p>郵便番号 <%= @customer.postal_code %></p>
    <p>住所 <%= @customer.address %></p>
    <p>電話番号 <%= @customer.telephone_number %></p>
    <p>メールアドレス <%= @customer.email %></p>
      <div class="input-group">
        <p>会員ステータス   <% if @customer.is_active %>
                           <p class="text-success"> 有効 </p>
                           <% elsif %>
                           <p class="text-meted"> 退会 </p>
                           <% end %> </p>
      </div>
      <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success m-5" %>
</div>