<div class="containar justify-content-center m-5">
    <h1>注文歴詳細</h1>
    <p>購入者 : <%= @order_item.order.name %></p>
    <p>注文日 : <%= @order_item.order.created_at.strftime('%Y/%m/%d') %></p>
    <p>配送先 : 〒<%= @order_item.order.postal_code %><%= @order_item.order.address %><br>
                 <%= @order_item.order.name %></p>
    <p>支払方法 : <%= @order_item.order.payment_method_i18n %></p>
  <div class="row">
    <div class="col md-8">
      <table class="table table-inverse mt-5">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </thead>
        <tbody>
          <% @order_items.each do |order_item|%>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.item.with_tax_price %></td>
            <td><%= order_item.amount %></td>
            <td><%= order_item.item.with_tax_price*order_item.amount %></td>
          </tr>
          <% @sum += order_item.item.with_tax_price*order_item.amount %>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col md-4">
      <p>商品合計 <%= @sum %></p>
      <p>送料 <%= @order.postage %></p>
      <p>請求額合計 <%= @sum + @order.postage %></p>
    </div>
</div>