<div class="container justify-content-center mt-5">
   <h1>注文情報入力</h1>
   <div class="raw mb-5 mt-5">
      <h2>支払方法</h2>
      <%= form_with model: @order, url:orders_confirm_path do |f| %>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
   </div>
   <div class="raw mb-5">
      <h2>お届け先</h2>
      <p>〒<%= current_customer.postal_code %><%= current_customer.address %></p>
           <%= current_customer.last_name %><%= current_customer.first_name %><br>
      <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>