<h1>注文履歴詳細</h1>
<p>注文情報</p>
<p>注文日 <%= @order.created_at.strftime('%Y/%m/%d') %></p>
<p>配送先〒<%= @order.customer.postal_code %><%= @order.customer.address %><br>
           <%= @order.customer.full_name %></p>
<p>支払方法 <%= @order.payment_method_i18n %></p>

<h1>注文内容</h1>
<table>
  <thead>
    <th>商品名</th>
    <th>単価</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <% @order_items.each do |order_item| %>
  <tbody>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.item.price %></td>
      <td><%= order_item.amount %></td>
      <td><%= order_item.item.price*order_item.amount %></td>
    </tr>
  </tbody>
   <% @sum += order_item.item.price*order_item.amount %>
  <% end %>
</table>
<h1>請求情報</h1>
<p>商品合計<%= @sum %>円</p>
<p>配送料<%= @order.postage %></p>
<p>ご請求額<%= @sum + @order.postage %></p>