<h2>ログイン</h2>
<h5>会員の方はこちらからログイン</h5>

<div class="containar d-flex justify-content-start p-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field m-3">
      <%= f.label :メールアドレス, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field m-3">
      <%= f.label :パスワード, class:"form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>

   <div class="input-group">
    <div class="actions m-3">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  <% end %>
    <div class="m-3">
      <h5>[ 会員登録がお済でない方 ]</h5>
      <%= link_to "こちら", "public/shared/links" %>から新規登録
    </div>
   </div>
</div>